@import 'nib'
@import './mixins'

button
  shittyfont()
  backdrop()

  text-align: center
  outline: none
  padding: 4px

  &:enabled
    color: gray-darker;

  &:disabled
    color: #818181
    text-shadow: 1px 1px white

  &:active:enabled
    // TODO: needs more accurate styles
    box-shadow: 0 0 0 0 black inset
    border-top-color: black
    border-left-color: black
    border-right-color: black
    border-bottom-color: black
