@import 'nib'
@import './mixins'

button
  shittyfont()

  text-align: center
  outline: none
  padding: 4px
  background: #bfbfbf
  border: 1px solid
  border-top-color: #dfdfdf
  border-left-color: #dfdfdf
  border-right-color: #808080
  border-bottom-color: #808080
  box-shadow: 1px 1px 0 0 #000

  &:enabled
    color: #070707

  &:disabled
    color: #818181
    text-shadow: 1px 1px #fff

  &:active:enabled
    // TODO: needs more accurate styles
    box-shadow: 0 0 0 0 #000 inset
    border-top-color: #000
    border-left-color: #000
    border-right-color: #000
    border-bottom-color: #000