@import 'nib'
@import './mixins'

button
  shittyfont()

  text-align: center
  outline: none
  padding: 4px
  background: gray
  border: 1px solid
  border-top-color: gray-lighter
  border-left-color: gray-lighter
  border-right-color: gray-dark
  border-bottom-color: gray-dark
  box-shadow: 1px 1px 0 0 black

  &:enabled
    color: gray-darker;

  &:disabled
    color: #818181
    text-shadow: 1px 1px white

  &:active:enabled
    // TODO: needs more accurate styles
    box-shadow: 0 0 0 0 black inset
    border-top-color: black
    border-left-color: black
    border-right-color: black
    border-bottom-color: black