@import 'nib'
@import './mixins'

input
  shittyfont()
  box-shadow: -1px -1px 0 0 gray-dark, 1px 1px 0 0 white
  border: 1px solid
  border-top-color: black
  border-left-color: black
  border-right-color: gray-lighter
  border-bottom-color: gray-lighter
