@import 'nib'
@import './variables'
@import './mixins'
@import './utilities'

.win98
  shittyfont()

  @require './window'
  @require './menu'
  @require './buttons'
  @require './forms'

  .resizable
    // TODO: style resize controls
    overflow: auto
    resize: both
