@import 'nib'
@import './variables'
@import './mixins'

.win98
  shittyfont()

  @require './window'
  @require './buttons'

  .resizable
    // TODO: style resize controls
    overflow: auto
    resize: both