@import 'nib'
@import 'variables'

betterfont()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

shittyfont()
  font-reset()
  -webkit-font-smoothing: none
  -moz-osx-font-smoothing: none
  font-size: 11px
  font-family: font-fam
  color: gray-darker

backdrop()
  background: gray
  border: 1px solid
  border-top-color: gray-lighter
  border-left-color: gray-lighter
  border-right-color: gray-dark
  border-bottom-color: gray-dark
  box-shadow: 1px 1px 0 0 #000
