@import 'nib'
@import 'variables'

betterfont()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility

shittyfont()
  font-reset()
  -webkit-font-smoothing: none
  -moz-osx-font-smoothing: none
  font-size: 11px
  font-family: font-fam
  color: gray-darker
