@import 'nib'
@import './mixins'

.window
  backdrop()

  width: 400px
  cursor: default

  .content
    padding: 7px 10px

  .header
    margin: 2px 2px 0
    padding: 1px 2px
    color: white;
    background: linear-gradient(to right, blue-dark, blue-light)
    font-weight: bold
    font-size: 11px
    line-height: 16px

    .icon
      width: 16px
      height: 16px
      float: left
      margin-right: 2px

    .buttons
      height: 14px
      float: right

      button
        // TODO: fix centering
        vertical-align: text-top
        font-weight: bold
        line-height: 12px
        padding: 0
        height: 14px
        width: 14px
