@import 'nib'
@import './mixins'

.window
  width: 400px
  background: #bfbfbf
  border: 1px solid
  border-top-color: #dfdfdf
  border-left-color: #dfdfdf
  border-right-color: #808080
  border-bottom-color: #808080
  box-shadow: 1px 1px 0 0 #000

  .content
    padding: 7px 10px

  .header
    margin: 2px 2px 0
    padding: 1px 2px
    color: #fff
    background: linear-gradient(to right, #000080, #1084d0)
    font-weight: bold
    font-size: 11px
    line-height: 16px

    .icon
      width: 16px
      height: 16px
      float: left
      margin-right: 2px

    .buttons
      height: 14px
      float: right

      button
        // TODO: fix centering
        vertical-align: text-top
        font-weight: bold
        line-height: 12px
        padding: 0
        height: 14px
        width: 14px